[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-cors = "*"
rpi-ws281x = "*"
adafruit-circuitpython-neopixel = "*"

[requires]
python_version = "3.7"
