* {
    padding: 0px;
    font-family: 'Baloo Chettan 2', cursive;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background-color: rgb(46, 46, 46);
}

.display-none {
    display: none;
}

.spinner-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    z-index: 99;
}

.spinner-screen .spinner-border {
    position: absolute;
    color: white;
    width: 60px;
    height: 60px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.navbar-brand {
    font-family: 'Alata', sans-serif;
    font-size: 28px !important;
    margin-left: auto;
    padding: 0px;
}

.navbar {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.navbar-brand {
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    
}

.navbar button {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.banner {
    padding: 4px;
    background-color: rgba(0, 162, 255, 0.6);
    font-size: 20px;
    font-style: italic;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

.settings-slider {
    color: black;
    font-size: 14pt;
}

.settings-slider label {
    margin: 0px;
}

.vis-list {
    margin-top: 20px;
    text-align: center;
}

.vis-box {
    box-sizing: border-box;
    width: 90%;
    padding: 6px;
    margin-bottom: 6px;
    text-align: left;
}

.vis-box h5, .vis-box p, .vis-box hr {
    margin: 2px;
}

.vis-box h5 {
    text-align: center;
}

.breadcrumb {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0;
}

.custom-control.custom-switch {
    margin-top: 10px;
}

.custom-switch .custom-control-label::before {
    height: 1.25em;
    width: 1.9em;
    border-radius: 1em;
    position: absolute;
    top: 50%;
    transform: translate(0%,-50%);
}

.custom-switch .custom-control-label::after {
    top: 18%;
    height: 1em;
    left: calc(-1.75em + 2px);
    width: 1em;
    border-radius: 1em;
    transform: ()
}

.custom-control-label {
    font-size: 15pt;
    padding-left: 10px;
}

/* Hide the dropdown caret */
#collasible-nav-dropdown.dropdown-toggle.nav-link::after {
    display: none;
}

.dropdown-item {
    font-size: 20px;
}